<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Recipe:</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" id="title-input" placeholder="Name">
        <input type="text" name="ingredients"  placeholder="Ingredients">
        <input type="text" name="instructions" placeholder="Instructions">

        <input type="submit" value="Add">
    </form>
    <a href="/recipes/"><button>All Recipes</button></a>
    
</body>
</html>