<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/recipes/add"><button>Add Recipe</button></a>
    <h1>All Recipes:</h1>

    <ol>
        {% for recipe in recipes%}
        <li>
            <a href="/recipes/recipe/{{ recipe.id }}"><h1>Name: {{ recipe.name }}</h1></a>
            <h3>Ingredients: {{ recipe.ingredients }}</h3>
            <h3>Instructions: {{ recipe.instructions}}</h3>
            <br>
            
        </li>

        {% endfor %}
    </ol>
    
</body>
</html>